@import "../abstracts/variables";

%paragraph-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

%paragraph-6-lines {
  @extend %paragraph-lines;
  -webkit-line-clamp: 6;
}

%paragraph-5-lines {
  @extend %paragraph-lines;
  -webkit-line-clamp: 5;
}

%paragraph-3-lines {
  @extend %paragraph-lines;
  -webkit-line-clamp: 3;
  color: $fontColor;
}

%paragraph-2-lines {
  @extend %paragraph-lines;
  -webkit-line-clamp: 2;
  color: $fontColor;
}

%small__hint {
  font-size: $fs-14;
  margin-left: 16px;
  opacity: 0.7;
  color: $primaryColor;
}

%hoverEffect {
  background: rgba(0, 0, 0, 0.2);
  border-radius: $rd-12;
}

/*__________________________________--------- Teacher Card Placeholder ---------__________________________________*/

%teacher__card {
  text-align: center;
  padding: 1.5em;
  border: none;
  border-radius: $rd-12;
  transition: $transition-200ms;

  .card__header {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }


  .card__img {
    border: 2px solid $primaryColor;
    border-radius: $rd-circle;
    padding: 2px;
    width: 100px;
    height: 100px;
  }

  .rate {
    position: absolute;
    font-size: $fs-14;
    display: inline-block;
    color: $color-white;
    border-radius: $rd-circle;
    border: 3px solid $color-white;
    background-color: $primaryColor;
    height: 40px;
    width: 40px;
    right: 8px;
    padding-top: 3px;
    bottom: 6px;
    z-index: 2;
  }

  .teacher__name {
    font-size: $fs-18;
    margin: 1em 0;
    display: block;
    min-height: 62px;
    height: 62px;
    max-height: 62px;

    &:hover {
      color: $primaryColor;
    }
  }

  .country {
    color: $primaryColor;
    margin-bottom: 0.5rem;
    font-size: $fs-16;
  }

  .teacher__description, .teacher__bio, .numbers {
    color: $color-gray-6;
    font-size: $fs-14;
  }

  .numbers {
    margin-bottom: .3rem;
  }

  .numbers__title {
    color: $color-gray-5;
  }

  .numbers__students, .numbers__classes, .country {
    color: $primaryColor;
  }

  .specialty {
    @include flex(center, center, row, wrap);

    .specialty__title {
      color: $color-gray-5;
      font-size: $fs-14;
    }

    .tags {
      color: $primaryColor;
      background-color: rgba(12, 136, 73, .15);
      border-radius: $rd-6;
      padding: 5px 10px;
      font-size: $fs-12;
      display: inline-block;
      margin: 0 4px 5px;
    }

    .tags__hover {
      transition: $transition-200ms;

      &:hover {
        background: $secDarkColor;
        color: $color-white;
      }
    }
  }

  @include media-breakpoint-only(lg) {
    .card__header, .card__img {
      width: 130px;
      height: 130px;
    }
    .teacher-description, .teacher__bio {
      font-size: $fs-12;
    }
    .specialty {
      .specialty-title {
        font-size: $fs-12;
        padding-top: 2px;
      }

      .tags {
        color: $primaryColor;
        background-color: $background-light-green;
        border-radius: $rd-5;
        padding: 4px 5px;
        font-size: $fs-10;
        margin: 0 3px 5px;
      }
    }
  }

}

%mini__card {
  background-color: $color-white;
  border-radius: $rd-12;
  text-align: center;
  padding: 1em;

  .card__content {
    font-size: $fs-14;
    color: $color-gray-5;
  }

  .card__buttons {
    margin-top: 0.5rem;
  }

  .button {
    @extend %button;
  }

  .raised__button_white {
    @extend %raised__button_white;

  }

  .raised__button-special {
    @extend %raised__button-special;
  }
}

%button {
  color: $primaryColor;
  border-color: $primaryColor;
  margin-top: .5em;
  display: block;
  width: 100%;
  text-align: center;
  transition: $transition-200ms;
  cursor: pointer;

  &:hover {
    background-color: $primaryColor;
    color: $color-white;
  }
}

%raised__button_white {
  color: $color-white;
  background-color: $primaryColor;
}

%raised__button-special {
  color: $primaryColor;
  background-color: $color-white;
}

