@import "../abstracts/variables";

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  line-height: normal;
  font-family: $font-family-arabic, Fallback, sans-serif;
}

*::selection {
  background: $secColor;
  color: $color-white;
}

body {
  margin: 0;
  font-family: $font-family-arabic, Fallback, sans-serif;
  background-color: $main-background-color;
  overflow-x: hidden;
  color: $fontColor;
  scroll-behavior: smooth;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

img {
  max-width: 100%;
}
