@import "src/assets/styles/abstracts/variables";

.main__content {
  min-height: calc(100vh - 145px);
}

:host::ng-deep {
  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0 0 !important;
  }

  .mat-form-field-suffix {
    top: 0.50em !important;
  }

  .mat-form-field-infix {
    border-bottom: 0.84375em solid transparent;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .mat-form-field-label-wrapper {
    top: 0 !important;
  }

  .mat-form-field-wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-can-float .mat-form-field-should-float .mat-form-field-label {
    transform: translateY(0) scale(.75);
    width: 133.33333%;
  }
}

.filter__card {
  border-radius: $rd-12;
  background: $color-white;
  margin-bottom: 1em;
  text-align: center;
  border: none;

  ::ng-deep span.mat-checkbox-frame {
    border-radius: $rd-4 !important;
  }

  ::ng-deep span.mat-checkbox-background {
    border-radius: $rd-4 !important;
  }
}


.card__body {
  padding: 1rem;
}


.reset__button {
  color: $secColor;
  border: 0;
  width: 100%;
  margin-top: 1em;
  transition: $transition-200ms;
  background: $color-white;

  &:hover {
    text-decoration: underline;
  }
}


