<app-loader *ngIf="loading"></app-loader>
<div class="homepage__container container-fluid">
  <div class="row">
    <div class="col-12">
      <img alt="" src="https://k.nooncdn.com/cms/pages/20211018/6de0f48758cbf9fbd31983ac031c6abe/en_banner-01.png">
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 my-4">
      <img class=""
           lazyLoad="https://k.nooncdn.com/cms/pages/20211019/a9d1bac5c8c1a698cf4785b9df661674/en_strip-01.gif">
    </div>
    <div class="col-12 col-md-6">
      <img alt=""
           lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-module-04.png">
    </div>
    <div class="col-12 col-md-6">
      <img alt=""
           lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-module-05.png">
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12">
      <div class="flash__sale">
        <img alt=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_title-01.gif">
      </div>
    </div>
    <div class="col-12">
      <img class=""
           lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_title-01.png">
    </div>
    <div class="col-12 col-md-4">
      <div>
        <img alt=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-module-01.png">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div>
        <img alt=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-module-02.png">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div>
        <img alt=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-module-03.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 col-md-6 my-5">
      <div>
        <img alt=""
             class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-01.png">
      </div>
    </div>
    <div class="col-12 col-md-6 my-5">
      <div>
        <img alt=""
             class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-02.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 my-5">
      <div>
        <img alt="/" class="" lazyLoad="https://k.nooncdn.com/mon/1634646893347-ckuy2jz8j4dglvhr5t4rmgu4v.png">
      </div>
    </div>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-03.png">
      </div>
    </div>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-04.png">
      </div>
    </div>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-05.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 my-5">
      <div>
        <img class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_title-05.png">
      </div>
    </div>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-07.png">
      </div>
    </div>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-06.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-08.png">
      </div>
    </div>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-09.png">
      </div>
    </div>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-10.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 my-4">
      <div class="row align-items-end">
        <div class="col">
          <div>
            <img alt="/" class=""
                 lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-11.png">
          </div>
        </div>
        <div class="col">
          <div>
            <img alt="" class=""
                 lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-12.png">
          </div>
        </div>
        <div class="col">
          <div>
            <img alt="/" class=""
                 lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-13.png">
          </div>
        </div>
        <div class="col">
          <div>
            <img alt="" class=""
                 lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-14.png">
          </div>
        </div>
        <div class="col">
          <div>
            <img alt="/" class=""
                 lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-15.png">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4">
      <div>
        <img class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_title-08.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-18.png">
      </div>
    </div>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-19.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-20.png">
      </div>
    </div>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-21.png">
      </div>
    </div>
    <div class="col-12 col-md-4 my-4">
      <div>
        <img alt="/" class=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-22.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 my-5">
      <div>
        <img alt=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_title-09.png">
      </div>
    </div>
    <div class="col-12 col-md-3 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-23.png">
      </div>
    </div>
    <div class="col-12 col-md-3 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-24.png">
      </div>
    </div>
    <div class="col-12 col-md-3 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-25.png">
      </div>
    </div>
    <div class="col-12 col-md-3 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-26.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 my-4">
      <div class="row">
        <div class="col">
          <div>
            <img alt=""
                 lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-26.png">

          </div>
        </div>
        <div class="col">
          <div><img alt=""
                    lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-28.png">
          </div>
        </div>
        <div class="col">
          <div><img alt=""
                    lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-29.png">
          </div>
        </div>
        <div class="col">
          <div><img alt=""
                    lazyLoad="https://k.nooncdn.com/cms/pages/20211019/fc1373552a70a4db5dcaf2cea78c76d3/en_cat-30.png">
          </div>
        </div>
        <div class="col">
          <div><img alt=""
                    lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-31.png">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4">
      <div>
        <img alt=""
             lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_title-10.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-32.png">
      </div>
    </div>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-33.png">
      </div>
    </div>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-34.png">
      </div>
    </div>
    <div class="col-12 col-md-6 my-4">
      <div>
        <img alt="" lazyLoad="https://k.nooncdn.com/cms/pages/20211019/b8ad502be61fe52ccecb4e2285bc3cca/en_cat-35.png">
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="products"></ng-template>
  </div>
  <footer class="row mt-4 bg-light p-4 text-center">
    <div class="col-12">
      <p>all images copy rights and inspiration designs Reserved © 2021 noon.</p>
    </div>
  </footer>
</div>


<ng-template #products>
  <div class="col-12 my-4">
    <owl-carousel-o [options]="customOptions">
      <ng-template *ngFor="let card of AllProducts" carouselSlide>
        <div class="mx-2">
          <app-product-card [product]="card"></app-product-card>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</ng-template>
