<content-loader *ngIf="type === 'product'"
                [rtl]="true"
                [speed]="speed"
                backgroundColor="#cfcfcf"
                foregroundColor="#ecebeb"
                viewBox="0 0 425 700">
  <svg:rect height="550" rx="0" ry="0" width="2" x="0" y="53"/>
  <svg:rect height="550" rx="0" ry="0" width="2" x="400" y="55"/>
  <svg:rect height="2" rx="0" ry="0" width="400" x="0" y="600"/>
  <svg:circle cx="200" cy="200" r="60"/>
  <svg:rect height="41" rx="0" ry="0" width="400" x="0" y="53"/>
  <svg:rect height="9" rx="0" ry="0" width="250" x="75" y="300"/>
  <svg:rect height="9" rx="0" ry="0" width="250" x="75" y="350"/>
  <svg:rect height="9" rx="0" ry="0" width="250" x="75" y="400"/>
  <svg:rect height="9" rx="0" ry="0" width="250" x="75" y="450"/>
  <svg:rect height="50" rx="0" ry="0" width="146" x="130" y="500"/>
</content-loader>
<content-loader
  *ngIf="type === 'sidebar'"
  [rtl]="true"
  [speed]="speed"
  backgroundColor="#cfcfcf"
  foregroundColor="#ecebeb"
  viewBox="0 0 300 615"
>
  <svg:rect height="1" rx="0" ry="0" width="0" x="79" y="20"/>
  <svg:rect height="400" rx="0" ry="0" width="3" x="4" y="1"/>
  <svg:rect height="3" rx="0" ry="0" width="294" x="4" y="400"/>
  <svg:rect height="3" rx="0" ry="0" width="5" x="158" y="400"/>
  <svg:rect height="3" rx="0" ry="0" width="294" x="5" y="1"/>
  <svg:rect height="400" rx="0" ry="0" width="3" x="296" y="1"/>
  <svg:rect height="3" rx="0" ry="0" width="294" x="5" y="60"/>
  <svg:rect height="23" rx="0" ry="0" width="129" x="22" y="20"/>
  <svg:rect height="9" rx="4" ry="4" width="81" x="35" y="76"/>
  <svg:rect height="18" rx="4" ry="4" width="18" x="271" y="22"/>
  <svg:rect height="9" rx="4" ry="4" width="81" x="186" y="76"/>
  <svg:rect height="44" rx="0" ry="0" width="2" x="150" y="63"/>
  <svg:rect height="3" rx="0" ry="0" width="144" x="6" y="104"/>
  <svg:rect height="1" rx="0" ry="0" width="145" x="152" y="106"/>
  <svg:rect height="31" rx="4" ry="4" width="243" x="28" y="127"/>
  <svg:rect height="19" rx="4" ry="4" width="148" x="62" y="188"/>
  <svg:circle cx="39" cy="197" r="10"/>
  <svg:circle cx="39" cy="247" r="10"/>
  <svg:circle cx="39" cy="297" r="10"/>
  <svg:circle cx="39" cy="347" r="10"/>
  <svg:rect height="19" rx="4" ry="4" width="148" x="64" y="237"/>
  <svg:rect height="19" rx="4" ry="4" width="148" x="65" y="287"/>
  <svg:rect height="19" rx="4" ry="4" width="148" x="64" y="337"/>
</content-loader>
<content-loader
  *ngIf="type === 'table'"
  [rtl]="true"
  [speed]="speed"
  backgroundColor="#eaeced"
  foregroundColor="#ffffff"
  viewBox="0 0 1000 550">
  <svg:rect height="17" rx="3" ry="3" width="906" x="51" y="45"/>
  <svg:circle cx="879" cy="123" r="11"/>
  <svg:circle cx="914" cy="123" r="11"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="104" y="115"/>
  <svg:rect height="15" rx="3" ry="3" width="299" x="305" y="114"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="661" y="114"/>
  <svg:rect height="2" rx="3" ry="3" width="897" x="55" y="155"/>
  <svg:circle cx="880" cy="184" r="11"/>
  <svg:circle cx="915" cy="184" r="11"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="105" y="176"/>
  <svg:rect height="15" rx="3" ry="3" width="299" x="306" y="175"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="662" y="175"/>
  <svg:rect height="2" rx="3" ry="3" width="897" x="56" y="216"/>
  <svg:circle cx="881" cy="242" r="11"/>
  <svg:circle cx="916" cy="242" r="11"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="106" y="234"/>
  <svg:rect height="15" rx="3" ry="3" width="299" x="307" y="233"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="663" y="233"/>
  <svg:rect height="2" rx="3" ry="3" width="897" x="57" y="274"/>
  <svg:circle cx="882" cy="303" r="11"/>
  <svg:circle cx="917" cy="303" r="11"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="107" y="295"/>
  <svg:rect height="15" rx="3" ry="3" width="299" x="308" y="294"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="664" y="294"/>
  <svg:rect height="2" rx="3" ry="3" width="897" x="58" y="335"/>
  <svg:circle cx="881" cy="363" r="11"/>
  <svg:circle cx="916" cy="363" r="11"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="106" y="355"/>
  <svg:rect height="15" rx="3" ry="3" width="299" x="307" y="354"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="663" y="354"/>
  <svg:rect height="2" rx="3" ry="3" width="897" x="57" y="395"/>
  <svg:circle cx="882" cy="424" r="11"/>
  <svg:circle cx="917" cy="424" r="11"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="107" y="416"/>
  <svg:rect height="15" rx="3" ry="3" width="299" x="308" y="415"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="664" y="415"/>
  <svg:rect height="2" rx="3" ry="3" width="897" x="55" y="453"/>
  <svg:rect height="465" rx="3" ry="3" width="2" x="51" y="49"/>
  <svg:rect height="465" rx="3" ry="3" width="2" x="955" y="49"/>
  <svg:circle cx="882" cy="484" r="11"/>
  <svg:circle cx="917" cy="484" r="11"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="107" y="476"/>
  <svg:rect height="15" rx="3" ry="3" width="299" x="308" y="475"/>
  <svg:rect height="15" rx="3" ry="3" width="141" x="664" y="475"/>
  <svg:rect height="2" rx="3" ry="3" width="897" x="55" y="513"/>
  <svg:rect height="17" rx="3" ry="3" width="906" x="52" y="80"/>
  <svg:rect height="33" rx="3" ry="3" width="68" x="53" y="57"/>
  <svg:rect height="33" rx="3" ry="3" width="149" x="222" y="54"/>
  <svg:rect height="33" rx="3" ry="3" width="137" x="544" y="55"/>
  <svg:rect height="33" rx="3" ry="3" width="72" x="782" y="56"/>
  <svg:rect height="33" rx="3" ry="3" width="24" x="933" y="54"/>
</content-loader>
