//Spec
$rd-16: 16px;
$rd-12: 12px;
$rd-11: 11px;
$rd-9: 9px;
$rd-8: 8px;
$rd-6: 6px;
$rd-7: 7px;
$rd-5: 5px;
$rd-4: 4px;
$rd-circle: 50%;

$transition-200ms: 0.2s ease-in-out;
$transition-300ms: 0.3s ease-in-out;
$transition-500ms: 0.5s ease-in-out;

$box-shadow: 0px 3px 41px #00000029;
$box-shadow-light: 0px 15px 25px #00000029;
