@import "src/assets/styles/abstracts/variables";
/*__________________________________--------- Auth Card Placeholder ---------__________________________________*/
%auth__container {
  text-align: center;
  width: 100%;
  position: relative;

  ::ng-deep {
    .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.4em 0 !important;
    }

    .mat-form-field-label-wrapper {
      top: -1.5em;
    }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
    }

    .mat-form-field-infix {
      display: flex !important;
      align-items: flex-start;
      justify-content: space-between;
    }

    .mat-form-field-suffix {
      top: 0;
    }
  }


  .overlay {
    width: 100%;
    background-color: $primaryColor;
    height: 250px;
    position: absolute;
    z-index: -2;
  }

  .auth__content {
    padding: 1.5rem 0;

    .content__header {
      font-size: $fs-24;
      font-weight: $fw-bold;
      color: $color-white;
      margin: 1.5rem auto 3rem auto;
    }

    .auth__card {
      background: $color-white;
      width: 30%;
      margin: 1rem auto;
      border-radius: $rd-12;
      box-shadow: $box-shadow-light;


      .auth__card__container {
        .auth__card__header {
          padding: 1rem;
        }
      }
    }
  }

  .form__container {
    padding: 1rem;
  }

  .auth__details {
    text-align: center;

    .extra__links {
      font-size: $fs-14;
      color: $color-gray-6;
      margin-bottom: 0.2rem;

      a {
        cursor: pointer;

        &:hover {
          color: $color-gray-5;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .auth__container {
    .auth__content {
      .auth__card {
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .overlay {
    height: 200px;
  }
  .auth__container {
    .auth__content {
      padding: 1rem 0;

      .content__header {
        margin: 1rem auto 2rem auto;
      }

      .auth__card {
        width: 70%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .auth__container {
    .auth__content {
      .content__header {
        font-size: 1.2rem;
      }

      .auth__card {
        width: 90%;
      }
    }
  }
}
