/*__________________________________--------- Table Placeholder ---------__________________________________*/
%table__container {
  height: auto;
  max-height: 475px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin: auto;
  direction: ltr;
  @include media-breakpoint-down(md) {
    margin: 0 auto;
  }
}

%table {
  width: 100%;
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  border-radius: $rd-12;
  overflow: hidden;

  .example-element-row td {
    border-bottom-width: 0;
  }

  ::ng-deep tr.mat-header-row {
    border: 1px solid $semi-gray;
    background: $semi-gray;
    text-align: center;
  }

  ::ng-deep .mat-header-cell {
    font-size: $fs-16;
  }

  th {
    border-bottom: 1px solid $semi-gray;
    border-top: 1px solid $semi-gray;
  }

  th.mat-header-cell, td.mat-footer-cell {
    text-align: center;
  }

  .mat-row {
    padding: 0;
    border-bottom: 0;
  }

  .mat-cell {
    border: 1px solid $semi-gray;
    align-self: stretch;
  }

  table tr:last-child td /*To remove the last border*/
  {
    border-bottom: 0 solid
  }

  tr.example-detail-row {
    height: 48px;
  }

  tr.example-element-row:hover {
    background: whitesmoke;
  }

  tr.mat-row {
    border: 1px solid $semi-gray;
  }
}
