<div class="categories__container container-fluid">
  <div class="content">
    <div class="title">
      <span>{{'all_categories' | translate}}</span>
    </div>
    <div class="category">
      <a [queryParams]="{'electronics':true}" [routerLink]="['/all-products' | localize]" class="link">
        <span class="cat__content">Electronics</span>
      </a>
    </div>
    <div class="category">
      <a [queryParams]="{'jewelery':true}" [routerLink]="['/all-products' | localize]" class="link">
        <span class="cat__content">Jewelery</span>
      </a>
    </div>
    <div class="category">
      <a [queryParams]="{'men__clothing':true}" [routerLink]="['/all-products' | localize]" class="link">
        <span class="cat__content">Men's Clothing</span>
      </a>
    </div>
    <div class="category">
      <a [queryParams]="{'women__clothing':true}" [routerLink]="['/all-products' | localize]" class="link">
        <span class="cat__content">Women's Clothing</span>
      </a>
    </div>
  </div>
</div>
