<app-loader *ngIf="loading"></app-loader>
<div class="page__container container">
  <div class="row">
    <div class="col-12">
      <div class="page__actions d-flex justify-content-end">
        <button (click)="OpenDialog(false)" color="primary" mat-raised-button>Add New Product</button>
      </div>
    </div>
    <div class="col-12">
      <div class="page__content my-4">
        <div class="filter">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input #input (keyup)="applyFilter($event)" matInput placeholder="Filter"/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="table__container">
        <ng-template
          [ngTemplateOutletContext]="{data:dataSource}"
          [ngTemplateOutlet]="tableTemplate">
        </ng-template>
      </div>
    </div>
  </div>
</div>


<ng-template #tableTemplate let-data='data'>
  <div class="table__wrapper mat-elevation-z2">
    <table [dataSource]="data" mat-table matSort>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>ID.</th>
        <td *matCellDef="let row" mat-cell>{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th *matHeaderCellDef mat-header-cell>Image</th>
        <td *matCellDef="let row" mat-cell>
          <img [alt]="row.description" [lazyLoad]="row.image" defaultImage="assets/images/default.jpg"
               errorImage="assets/images/default.jpg" height="100px" width="75px">
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Category</th>
        <td *matCellDef="let row" mat-cell>
          <a [routerLink]="['/admin/category-management'|localize]" class="link">{{row.category}}</a></td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
        <td *matCellDef="let row" mat-cell>{{row.description}}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Price</th>
        <td *matCellDef="let row" mat-cell>
          {{ row.price|currency:'EGY' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="rates">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Rating</th>
        <td *matCellDef="let row" mat-cell>
          {{ row.rating.rate / row.rating.count }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Actions</th>
        <td *matCellDef="let row" mat-cell>
          <div class="table__actions">
            <button (click)="OpenDialog(true,row.id,row)" color="primary" mat-mini-fab>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="DeleteItem(row)" color="warn" mat-mini-fab>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
        <td *matCellDef="let row" mat-cell>{{ row.title }}</td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20,50,100]"
      [pageSize]="5"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</ng-template>
