@import "src/assets/styles/abstracts/variables";

.product__card {
  min-height: 350px;
  height: 400px;
  max-height: 450px;
  width: 100%;
  background: $color-white;
  transition: all 0.2s ease-in-out;
  border-radius: $rd-12;

  &:hover {
    box-shadow: $box-shadow-light;
  }

  .card__container {
    @include flex(flex-start, space-evenly, column);
    height: 100%;
    width: 100%;
    padding: 0.6rem;

    .title {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .body {

    }

    .footer {
      width: 100%;
      @include flex(center, flex-end, row);
    }

    .card__image {
      width: 175px;
      height: 200px;
      max-height: 250px;
    }

    .product__title {
      font-size: $fs-18;
      font-weight: $fw-bold;
      color: $fontColor;
    }

    .product__price {
      font-size: $fs-16;
      font-weight: $fw-bold;
      color: $fontColor;
    }

    .rating {
      text-align: end;

      .star {

      }

      .rate {
        color: rgb(245, 165, 35);
        font-weight: $fw-bold;
        margin-inline: 0.2rem;
      }

      .count {
        color: rgb(178, 184, 202);
        white-space: nowrap;
      }
    }
  }
}
