@import "variables";
@import "../base/placeholders";

/* ****************************Our Helper Classes****************************** */
.translate__images {
  transform: rotateY(180deg);
}

.page__container {
  margin: 2rem auto;
  padding: 0.5rem 1.5rem;
}

/* ****************************Our Helper Classes****************************** */

.main__container {
  margin: 0 auto 1rem auto;
  width: 98%;
  overflow: hidden;
}

.our-text-primary {
  color: $primaryColor;
}

.background-primary {
  background: $primaryColor;
}

.our-text-white {
  color: $color-white !important;
}

.our-text-sec {
  color: $secDarkColor !important;
}

.margin__right {
  margin-right: 1rem;
}

.our-font-color {
  color: $fontColor !important;
}

.main__title {
  font-size: $fs-32;
  color: $primaryColor;
  text-align: center;
  margin-bottom: 1.2em;
}

.semi__title {
  font-size: $fs-24;
  color: $primaryColor;
  text-align: center;
  margin-bottom: 1rem;
}

.cursorPointer {
  cursor: pointer !important;
}

.cursorDisabled {
  cursor: not-allowed !important;
}

.no__box__shadow {
  box-shadow: none !important;
}

.our__text-left {
  text-align: left;
}

.our__text-right {
  text-align: right;
}

.show-less {
  height: 4rem;
  overflow: hidden;
  padding: 1rem;
}

.show-less-6lines {
  @extend %paragraph-6-lines;
}

.show-less-5lines {
  @extend %paragraph-5-lines;
}

.show-less-3lines {
  @extend %paragraph-3-lines;
}

.show-less-2lines {
  @extend %paragraph-2-lines;
}

.show-more {
  display: inline-block;
  overflow: visible;
}

.w-90 {
  width: 90%;
}


.fxFill {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.fxMainBar {
  display: flex;
  align-items: baseline;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.fxButton {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
  }
}
