//Fonts
$font-family-english: 'janna';
$font-family-arabic: 'janna';

//Font spec
$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-13: var(--font-size-13, 0.8125rem);
$fs-14: var(--font-size-14, 0.875rem);
$fs-16: var(--font-size-16, 1rem);
$fs-18: var(--font-size-18, 1.125rem);
$fs-20: var(--font-size-20, 1.25rem);
$fs-22: var(--font-size-20, 1.375rem);
$fs-23: var(--font-size-23, 1.450rem);
$fs-24: var(--font-size-24, 1.5rem);
$fs-29: var(--font-size-29, 1.825rem);
$fs-32: var(--font-size-32, 2rem);


$fw-light: 300;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
